# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Distribution
build/
dist/
*.egg-info/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Database Files
# ==========================
*.db
*.sqlite3

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Coverage Reports
# ==========================
.coverage
htmlcov/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp